{
    "parser": "babel-eslint",

    "plugins": ["react", "jest"],

    "extends": "airbnb",

    "env": {
        // I write for browser
        "browser": true,

        // in CommonJS
        "node": true,

        // jest
        "jest/globals": true
    },

    "rules": {
        "indent": [2, 4, { "SwitchCase": 1 }],
        "react/jsx-indent": [2, 4],
        "react/jsx-indent-props": [2, 4],

        // https://github.com/airbnb/javascript/blob/master/packages/eslint-config-airbnb-base/rules/style.js#L126-L134
        "max-len": ["error", 120, 4, {
            "ignoreUrls": true,
            "ignoreComments": false,
            "ignoreStrings": true,
            "ignoreTemplateLiterals": true
        }],

        "comma-dangle": [2, "never"],

        "global-require": [0],

        "arrow-body-style": [0],

        "import/no-extraneous-dependencies": [0],
        "import/no-named-as-default": [0],
        "import/prefer-default-export": [0],

        "react/prefer-stateless-function": [0],

        "jest/no-disabled-tests": 2,
        "jest/no-focused-tests": 2,
        "jest/no-identical-title": 2,
        "jest/valid-expect": 2,

        "jsx-a11y/href-no-hash": 0, // https://github.com/airbnb/javascript/issues/1474 , remove later
        "jsx-a11y/anchor-is-valid": ["error", { "components": ["a"] }] // replaces jsx-a11y/href-no-hash
    },

    "globals": {
        "DEBUG": false,
        "TESTING": false,
        "PRODUCTION": false,

        "define": false,
        "require": false,

        "describe": false,
        "context": false,
        "before": false,
        "beforeEach": false,
        "after": false,
        "afterEach": false,
        "it": false,
        "expect": false,
        "sinon": false,
        "jest": false
    }
}
